.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 16px;
  gap: 16px;

  @include breakpoint('medium') {
    gap: 40px;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 30px;
  }
}

.wrapperContentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    color: #ff6060;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin-bottom: 5px;
    @include breakpoint('medium') {
      font-size: 36px;
      margin-bottom: 0;
    }
  }
  .location {
    color: $black;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin-bottom: 10px;
    @include breakpoint('medium') {
      font-size: 1.125rem;
      margin-bottom: 0;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @include breakpoint('medium') {
    gap: 20px;
    margin-top: 20px;
  }
}
.wrapperStarLandlord {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  @include breakpoint('medium') {
    gap: 27px;
    justify-content: space-between;

    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.wrapperAccordions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 13px;
  margin-bottom: 27px;

  @include breakpoint('medium') {
    flex-direction: row;
    gap: 76px;
    margin-top: 24px;
    margin-bottom: 50px;
  }
}
